<!Doctype html>
<html lang="en">
    <head>
        <meta charset="UFT-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mood Flight App</title>
        <link rel="stylesheet" href="static/style.css">
        <script defer src="static/script.js"></script>
    </head>

    <body>
        <header>
            <nav>
                <a href="">Home</a>
                <a href="">Flights</a>
                <a href="">Stays</a>
                <a href="">Cars</a>
                <a href="">About</a>
                <a href="">Contact</a>
            </nav>
        </header>
    </body>
</html>